<h2>Contestants Index</h2>

<% @contestants.each do |contestant| %>
    <section id="contestant-<%= contestant.id %>">
        <%= contestant.name %>
        <% contestant.projects.each do |project| %>
            <p>Projects: <%= project.name %>
        <% end %>
    </section>
<% end %>
