<h2>Contestants Index</h2>

<% @contestants.each do |contestant| %>
    <%= contestant.name %>
    <% contestant.projects.each do |project| %>
        <p>Projects: <%= project.name %>
    <% end %>
<% end %>
